services:
  mysql:
    container_name: mysql
    image: mysql:8.4.0
    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=url
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - stack
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p", "root"]
      interval: 30s
      timeout: 10s
      retries: 3

  application:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=url
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - APP_BASE_URL=http://localhost:8080
    networks:
      - stack
    depends_on:
      mysql:
        condition: service_healthy

networks:
  stack:
    name: stack
    driver: bridge

volumes:
  mysql-data:
    name: mysql-data